.jumbotron {
  padding: 30px;
  margin-top: 50px;
  text-align: center;
}

.fork-github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 2000;
}

.footer {
  display: block;
  text-align: center;
  padding: 10px;
}

