/**
 *
 */

.jq-autocomplete-results {
  z-index: 10;
  display: none;
  margin: 0;
  padding: 0;
}

.jq-autocomplete-results-list {
  z-index: 10;

  margin: 0;
  padding: 0;
  list-style: none;

  background-color: #fff;
  border: #ccc solid 1px;

     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.jq-autocomplete-item {
  text-align: left;
  cursor: pointer;
  padding: 1px;

  white-space: nowrap;
  overflow: hidden;

  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.jq-autocomplete-item:hover,
.jq-autocomplete-item-active {
  background-color: #2f96b4;
  color: #fff;

     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
